html, body, #map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header .container-fluid {
  position: relative;
}

.header h1, .header a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.2px;    
  margin: 0;
  padding: 10px 0 10px 55px;
  text-transform: uppercase;
  text-decoration: none;
}

.header a {
  padding-right: 20px;
  color: #fff;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#map_canvas {
  position: relative;
}

.angular-leaflet-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.about {
  height: 500px;
  margin: auto;
  text-align: center;
}

.btn {
  background-color: #000;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.btn a:hover {
  color: #fff;
}

.content {
  position: absolute;
  top: 250px;
  width: 100%;
}